<div class="center">
    <p>{{ dogState }}</p>
    <button (click)="toggleDogHandler()" class="btn" type="button">Toggle dog</button>
    <div>
        <img *ngIf="dogState"
            src="./assets/images/dog1.jpeg"
            alt="dog"
            class="img-responsive"
            style="max-height: 200px;">
        <img *ngIf="!dogState"
            src="./assets/images/dog2.jpeg"
            alt="dog"
            class="img-responsive"
            style="max-height: 200px;">
    </div>

</div>
