.dog-button {
    background-color: #D32F2F;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    color: white;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    width: 18rem;
    margin-bottom: 1rem;
}